form {
  background-color: bisque;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.input {
  width: 100%;
  padding: 15px;
  border: 1px solid #fafafa;
  border-radius: 5px;
}
.button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fafafa;
  cursor: pointer;
  transition: 0.4s;
}
.button:hover {
  background-color: rgb(3, 156, 3);
  font-size: medium;
  font-weight: 700;
}
